body{
   font-family:arial, sans-serif;
   margin:0;
   padding:0;
   background-color:#f0f0f0;
   color:#333;
   text-align:center;
}

header{
    background-color: navy;
    color: white;
    padding:40px;
}

section{
    margin:20px auto;
    padding:20;
    width:80%;
    background-color:white;
    border-radius:10px;
}

ul{
    list-style-type:square;
    text-align:left;
    max-width:400px;
    margin:auto;
}

.hover-box{
background-color:blue;
padding:20px;
border-radius:8px;
transition: transfor 0.3s;
}

.hover-box:hover{
    transform:scale(1.1);
    background-color:#f5f5f5;
}

.animated-box{
    width:150px;
    height:150px;
    background-color: teal;
    color: white;
    display:flex;
    justify-content:center;
    align-items: crnter;
    animation: moveboxn 2s infinite;
    border-radius: 10px;
}

@keyframes movebox{
    0%{transform: translateX(0);}
    50%{transform: translatex(50px;) }
    100%{ transform: translatex(0) }
}

.contact form{
    max-width:400px;
    margin:auto;
}

.contact input,
.contact textarea{
    width:100%;
    padding:10px;
    margin:5x 0;
    border: 1px solid #aaa;
    border-radius:5px;
}

.contact input[type="submit"]{
    background-color:navy;
    color:white;
     border: none;
     cursor: pointer;
}

footer{
    background-color:#222;
    color:white;
    padding:10px;
}

h1{
    animation:slidein 2s ease-in-out;
}

@keyframe slideIN{
form{
    transform:translatex(-100%);
    opasity:0;
    }
    to{
        transform: translatex(0);
        opasity:1;
    }
}
    @media( max-width:600px){
    section{
    width:95%;
}
    }
